<footer class="footer mt-3 py-3 bg-dark text-white text-center fixed-bottom">
    <div class="container">
      <span class="text-muted">&copy; Vichaar blogging platform Inc</span>
      <div class="d-flex justify-content-center">
        <div class="p-2">
          <h5>Animesh</h5>
          <a href="https://www.instagram.com/animesh" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://twitter.com/animesh" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/animesh" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="p-2">
          <h5>Kanav</h5>
          <a href="https://www.instagram.com/kanav" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://twitter.com/kanav" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/kanav" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="p-2">
          <h5>Abhinav</h5>
          <a href="https://www.instagram.com/abhinav" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://twitter.com/abhinav" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/abhinav" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <span class="text-white">&copy; 2024 Vichaar blogging. All rights reserved.</span>
    </div>
  </footer>